<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클론코딩</title>
    <link rel="stylesheet" href="../../static/css/main/main.css" />
</head>
<body>
    <div class="main-content">
        <div class="content-wrap">

            <div class="top-content">
                <div>
                    <div class="top-content-text">최근 학습함</div>

                    <div class="top-content-wrapper">

                        <div class="top-content-inside-one">
                            <div class="top-content-left">
                                <div class="top-content-title">
                                    <div class="top-content-title-one">연습 3</div>
                                    <div class="top-content-title-two">Precalculus</div>
                                </div>
                                <div class="top-content-left-info">챕터 0, 섹션 0-1, 페이지0 </div>
                            </div>
                            <div class="top-content-right">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg" alt="">
                            </div>
                        </div>
                        <div class="top-content-inside-one">
                            <div class="top-content-left">
                                <div class="top-content-title">
                                    <div class="top-content-title-one">연습 3</div>
                                    <div class="top-content-title-two">Precalculus</div>
                                </div>
                                <div class="top-content-left-info">챕터 0, 섹션 0-1, 페이지0 </div>
                            </div>
                            <div class="top-content-right">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg" alt="">
                            </div>
                        </div>
                        <div class="top-content-inside-one">
                            <div class="top-content-left">
                                <div class="top-content-title">
                                    <div class="top-content-title-one">연습 3</div>
                                    <div class="top-content-title-two">Precalculus</div>
                                </div>
                                <div class="top-content-left-info">챕터 0, 섹션 0-1, 페이지0 </div>
                            </div>
                            <div class="top-content-right">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg" alt="">
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="middle-content">
                <div class="middle-content-wrapper">
                    <div class="badge">
                        <img src="https://quizlet.com/static/achievements/streak-Day.svg" alt="">
                    </div>
                    <div class="upkeep-streek">
                        <div class="days-streek">2일 스트리크</div>
                        <div class="keep-streek">내일 학습하여 스트리크를 유지하세요!</div>
                    </div>
                    <div class="calendar">
                        <div class="yo">
                            <div class="yoil">일</div>
                            <div class="yoil">월</div>
                            <div class="yoil">화</div>
                            <div class="yoil">수</div>
                            <div class="yoil">목</div>
                            <div class="yoil">금</div>
                            <div class="yoil">토</div>
                        </div>
                        <div>
                            <div class="participant-day">
                                <div class="part-day">16</div>
                                <div class="part-day">17</div>
                                <div class="part-day">18</div>
                                <div class="part-day">19</div>
                                <div class="part-day">20</div>
                                <div class="part-day">21</div>
                                <div class="part-day">22</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-content">
                <div class="bottom-content-title">
                    추천 전문가 솔루션
                </div>
                <div class="bottom-content-wrapper">

                    <div class="bottom-content-content">
                        <div class="one-bottom-content">
                            <div class="one-bottom-content-wrapper">
                                <div class="one-bottom-content-left">
                                    <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg" alt="">
                                </div>
                                <div class="one-bottom-content-right">
                                    <div class="one-bottom-content-right-text">
                                        <div class="one-bottom-content-right-title">Precalculus</div>
                                        <div class="one-bottom-content-right-info">
                                            <span>2nd Edition * ISBN: 9780076602186</span>
                                            <div class="TextbookCard-Overflow">Carter, Cuevas, Day, Malloy</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-content-content">
                        <div class="one-bottom-content">
                            <div class="one-bottom-content-wrapper">
                                <div class="one-bottom-content-left">
                                    <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg" alt="">
                                </div>
                                <div class="one-bottom-content-right">
                                    <div class="one-bottom-content-right-text">
                                        <div class="one-bottom-content-right-title">Precalculus</div>
                                        <div class="one-bottom-content-right-info">
                                            <span>2nd Edition * ISBN: 9780076602186</span>
                                            <div class="TextbookCard-Overflow">Carter, Cuevas, Day, Malloy</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-content-content">
                        <div class="one-bottom-content">
                            <div class="one-bottom-content-wrapper">
                                <div class="one-bottom-content-left">
                                    <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg" alt="">
                                </div>
                                <div class="one-bottom-content-right">
                                    <div class="one-bottom-content-right-text">
                                        <div class="one-bottom-content-right-title">Precalculus</div>
                                        <div class="one-bottom-content-right-info">
                                            <span>2nd Edition * ISBN: 9780076602186</span>
                                            <div class="TextbookCard-Overflow">Carter, Cuevas, Day, Malloy</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                   
 

                    
                </div>
            </div>

        </div>
    </div>
</body>
</html>