

body{
    background-color: #0a092d;
    color: aliceblue;
}


.main{
    max-width: 79.75rem;
    margin: 0 auto;
}


.book-info{
    display: flex;
}

.book-info-text{
    margin: 1rem;
}

.book-edition{
    margin-top: 1rem;
}

.book-serial-wrapper{
    margin-top: 2rem;
}

.book-author{
    margin-top: 1rem;
}

.book-img img{
    width: 8.125rem;
    height: 10.25rem;
    object-fit: cover;
    border-radius: 0.25rem;
}

.book-title{
    font-size: 1.5rem;
    font-weight: 800;
}

.book-edition{
    font-weight: 700;
}

.answer-area{
    margin-top: 2rem;
}

.solutions{
    font-size: 1rem;
    font-weight: 800;
}

.solution-wrapper{
    width: 60rem;
}

.one-content{
    background-color: #2e3856;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.bottom-icon{
    width: 1rem;
    height: 1rem;
}

.bottom-icon img{
    width: 100%;
    filter: invert(100%);
}

.problem-area, .answer-wrapper{
    /* display: none; */
    background-color: #2e3856;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.problem-textarea, .answer{
    width: 40rem;
    margin: auto auto;
    line-height: 2rem;
}

.answer-one{
    margin-top: 1rem;
}

