<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제</title>
    <link rel="stylesheet" href="../../static/css/problem/problem.css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="main">


            <!-- <div class="category">
                <ul>
                    <li class="category-list">수학 / </li>
                    <li class="category-list">대수학 / </li>
                    <li class="category-list">선 대수학 / </li>
                    <li class="category-list">Saxon Math, Course 2 (1st Edition)</li>
                </ul>
            </div> -->


            <div class="problem-info">
                <div class="info-title">
                    <div class="info-title-wrapper">
                        <div class="info-practice">연습 c</div>
                        <div class="info-page">
                            <span class="info-text">쳅터 1 </span>
                            <span class="info-text">페이지 23</span>
                        </div>
                    </div>
                    <div class="report">
                        ...
                    </div>
                </div>

                <div class="book-info">
                    <div class="book-img">
                        <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/04/f9/04f984aeb51810dd6cf026ee004db6d6.jpg" alt="">
                    </div>

                    <div class="book-explanation">
                        <div class="book-title">Saxon Math, Course 2</div>
                        <div class="book-num">ISBN: 9781591418351</div>
                        <div class="index">목차</div>
                    </div>
                </div>
            </div>

            <div class="problem-content">
                <!-- <div class="problem">솔루션</div> -->

                <div class="problem-block">
                    <div class="problem-top">
                        <div class="first-problem">
                            <div class="problem-text checked">
                                솔루션 A
                            </div>
                        </div>
                        <div class="first-problem">
                            <div class="problem-text not-checked">
                                솔루션 B
                            </div>
                        </div>
                    </div>

                    <div class="problem-main">
                        <div class="problem-day">2년전의 문제</div>

                        <div class="problem-main-wrapper">
                            <div class="problem-main-innter"> 
                                <div class="problem-stage">
                                    <div>단계 1</div>
                                    <div>1/2</div>
                                </div>

                                <div class="problem-wrapper">
                                    <div class="problem-title">
                                        Determine the unknown value in the given equation.
                                    </div>

                                    <div class="problem-content">
                                        15c = 180 Write the equation
                                        c = 12 Simplify
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="button-area">
                            <div class="button-area-inner">
                                <div class="pre-button">
                                    <div class="button-inner">
                                        <div class="button-img">
                                            <img src="../../static/images/problem/prev.png" alt="">
                                        </div>
                                        <div class="button-title">
                                            연습 b
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="more-button">
                                    <div>모든 단계 보기</div>
                                </div> -->

                                <div class="next-button">
                                    <div class="button-inner">
                                        <div class="button-title">
                                            연습 c
                                        </div>
                                        <div class="button-img">
                                            <img src="../../static/images/problem/next.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>