<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 정답</title>
    <link rel="stylesheet" href="../../static/css/problem/problem-answer.css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="main">

            <div class="book-info">
                <div class="book-img">
                    <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/04/f9/04f984aeb51810dd6cf026ee004db6d6.jpg" alt="">
                </div>

                <div class="book-info-text">
                    <div class="book-title-wrapper">
                        <div class="book-title">
                            Saxon Math, Course 2
                        </div>
                        <div class="book-edition">
                            1st Edition
                        </div>
                    </div>

                    <div class="book-serial-wrapper">
                        <div class="book-serial">
                            ISBN: 9781591418351
                        </div>

                        <div class="book-author">
                            Hake Stephen
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer-area">
                <div class="solutions">교과서 솔루션</div>

                <div class="solution-wrapper">

                    <div class="one-content-wrapper">
                        <div class="one-content">
                            <div class="problem-text">
                                챕터 1 : Lessons 1-10, Investigation 1 
                            </div>
                            <div class="bottom-icon">
                                <img src="../../static/images/problem/arrow-button.png" alt="">
                            </div>
                        </div>
                        <div class="problem-area">
                            <div class="problem-wrapper">
                                <div class="problem-title-wrapper">
                                    <div class="problem-title">
                                        문제 1
                                    </div>
                                </div>
                            </div>

                            <div class="problem-answer-wrapper">
                                <div class="problem">
                                    <div class="problem-textarea">
                                        On offering to help the blind man, the man who then stole his car, had not, at that precise moment, had any evil intention, quite the contrary, what he did was nothing more than obey those feelings of generosity and altruism which, as everyone knows, are the two best traits of human nature and to be found in much more hardened criminals than this one, a simple car-thief without any hope of advancing in his profession, exploited by the real owners of this enterprise, for it is they who take advantage of the needs of the poor.
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="answer-wrapper">
                            <div class="answer">
                                <div class="answer-one">
                                    <input type="radio"> adfjdkasfjdksalfdjskalf
                                </div>
                                <div class="answer-one">
                                    <input type="radio"> adfjdkasfjdksalfdjskalf
                                </div>
                                <div class="answer-one">
                                    <input type="radio"> adfjdkasfjdksalfdjskalf
                                </div>
                                <div class="answer-one">
                                    <input type="radio"> adfjdkasfjdksalfdjskalf
                                </div>
                                <div class="answer-one">
                                    <input type="radio"> adfjdkasfjdksalfdjskalf
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
</body>
</html>