<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제집 리스트</title>
    <link rel="stylesheet" href="../../static/css/problem/problem-list.css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="category"></div>


        <div class="contents-wrapper">
            <!-- <div class="problem-category"></div> -->

            <div class="contents">
                <div class="sort-wrapper">
                    <div class="sort">
                        <div class="sort-text">낱말세트 카드</div>
                        <div class="sort-text checked">교과서 솔루션</div>
                        <div class="sort-text">숙제 도움말</div>
                    </div>
                </div>
                <div class="contents-list">
                    <div class="sort-book">
                        <div class="sort-button-box">
                            <div class="button-box-one">
                                <div class="button-text">출판사 : 모두</div> 
                                <img src="../../static/images/problem/arrow-button.png" alt="">
                            </div>
                        </div>
                        <div class="total">
                            총 150개
                        </div>
                    </div>

                     <div class="all-content-wrapper">


                        <!-- 컨텐츠 한게 -->
                        <div class="one-content">
                            <div class="problem-img">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/04/f9/04f984aeb51810dd6cf026ee004db6d6.jpg" alt="">
                            
                            </div>
                            <div class="problem-wrapper">
                                <div class="problem-title">
                                    Saxon Math, Course 2
                                </div>
                                <div class="problem-info">
                                    <div class="problem-serial">
                                        1st Edition ISBN 12324213213214213213213    21321321321321321312
                                    </div>
                                    <div class="problem-author">
                                        Hake, stephen
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- 컨텐츠 한개 끝 -->

                         <!-- 컨텐츠 한게 -->
                         <div class="one-content">
                            <div class="problem-img">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/04/f9/04f984aeb51810dd6cf026ee004db6d6.jpg" alt="">
                            
                            </div>
                            <div class="problem-wrapper">
                                <div class="problem-title">
                                    Saxon Math, Course 2
                                </div>
                                <div class="problem-info">
                                    <div class="problem-serial">
                                        1st Edition ISBN 12324213213214213213213    21321321321321321312
                                    </div>
                                    <div class="problem-author">
                                        Hake, stephen
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- 컨텐츠 한개 끝 -->

                         <!-- 컨텐츠 한게 -->
                         <div class="one-content">
                            <div class="problem-img">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/04/f9/04f984aeb51810dd6cf026ee004db6d6.jpg" alt="">
                            
                            </div>
                            <div class="problem-wrapper">
                                <div class="problem-title">
                                    Saxon Math, Course 2
                                </div>
                                <div class="problem-info">
                                    <div class="problem-serial">
                                        1st Edition ISBN 12324213213214213213213    21321321321321321312
                                    </div>
                                    <div class="problem-author">
                                        Hake, stephen
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- 컨텐츠 한개 끝 -->

                         <!-- 컨텐츠 한게 -->
                         <div class="one-content">
                            <div class="problem-img">
                                <img src="https://d2nchlq0f2u6vy.cloudfront.net/cache/04/f9/04f984aeb51810dd6cf026ee004db6d6.jpg" alt="">
                            
                            </div>
                            <div class="problem-wrapper">
                                <div class="problem-title">
                                    Saxon Math, Course 2
                                </div>
                                <div class="problem-info">
                                    <div class="problem-serial">
                                        1st Edition ISBN 12324213213214213213213    21321321321321321312
                                    </div>
                                    <div class="problem-author">
                                        Hake, stephen
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- 컨텐츠 한개 끝 -->








                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
</html>